<!DOCTYPE html>
<html>
  <head>
    <title>Loudcloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("cloud.png") %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   <script type="text/javascript">
    window.cloud = "<%= image_url('cloud.png') %>";
   </script>
    <script type="text/javascript">
    window.play = "<%= image_url('play.png') %>";
   </script>
    <script type="text/javascript">
    window.pause = "<%= image_url('pause.jpg') %>";
   </script>
    <script type="text/javascript">
    window.forward = "<%= image_url('forward.png') %>";
   </script>
    <script type="text/javascript">
    window.rewind = "<%= image_url('rewind.png') %>";
   </script>
    <script type="text/javascript">
    window.repeat = "<%= image_url('repeat.png') %>";
   </script>
    <script type="text/javascript">
    window.shuffle = "<%= image_url('shuffle.png') %>";
   </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
